<header class="header">
    <div class="header-background">
        <svg class="header-wave" viewBox="0 0 1200 160" preserveAspectRatio="none">
            <path d="M0,96L60,90C120,85,240,75,360,80C480,85,600,107,720,112C840,117,960,107,1080,90L1200,75L1200,160L0,160Z" fill="white"></path>
        </svg>
    </div>
    <div class="brand">
        <img src="{{ logo | default('../assets/logo.png') }}" class="logo" alt="Logo">
        <div class="brand-text">
            <h1>{{ brand }}</h1>
            <p>{{ tagline }}</p>
        </div>
    </div>
    <div class="product-code">
        {{ product_code }}
    </div>
</header>